
 .appNav-title{
    font-size:1.4rem;
 }
 @media (min-width:900px){
    .appNav::before{
        content:'';
        position:absolute;
        height:100%;
        width:200px;
        left:0;
        right:0;
        background-color: #1063cc; 
     }
     .appNav::after{
       content:'';
       position: absolute;
       top:0;
       left:200px;
       height:0;
       width:0;
       border-top:32px solid transparent;
       border-left:50px solid #1063cc;
       border-bottom:32px solid transparent;
     }
}
 @media (max-width:899px){
    .appNav-title{
        font-size:1rem;
     }

}


